<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    <main>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
      </nav>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>
