body {
  font-family: sans-serif;
  background-color: var(--color-gray8);
  color: var(--color-gray1);
}
img {
  width: 50rem;
}

h1 {
  color: var(--color-brand4);
  font-size: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 5vw;
}
