body {
  font-family: sans-serif;
  background-color: darkgreen;
}
img {
  width: 50rem;
}

h1 {
  color: papayawhip;
  font-size: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 5vw;
}
