<nav class="container-fluid">
  <ul>
    <li><a href="/" class="contrast"><strong>🚀 Flightdeck</strong></a></li>
  </ul>
  <ul>
    <li><a class="contrast" href="/blog/">Blog</a></li>
    <li><a class="contrast" href="/style-guide/">Style Guide</a></li>
    <li><a class="contrast" href="/404/">404 Page</a></li>
    <li><a class="contrast" href="/test-page/">Test Page</a></li>
    <li class="eclipse" aria-label="Toggle theme between light and dark">
      <svg class="lunar"
        viewBox="0 0 24 24" stroke-width=2 fill=none stroke-linecap=round stroke-linejoin=round stroke=white>
        <path stroke=none d="M0 0h24v24H0z" />
        <path d="M16.2 4a9.03 9.03 0 1 0 3.9 12a6.5 6.5 0 1 1 -3.9 -12" />
      </svg>
      <svg class="solar" viewBox="0 0 24 24" stroke-width=2 fill=none stroke-linecap=round
        stroke-linejoin=round stroke="rgb(197, 105, 0)">
        <circle cx=12 cy=12 r=4 />
        <path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7" />
      </svg>
    </li>
  </ul>
</nav>
